*{
    margin: auto;
    padding: 0;
    font-family: "Geologica-Variable";
    font-size: 24px;
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url('/newYear/fonts/Pacifico-Regular.woff2');
}

@font-face {
  font-family: "Geologica-Variable";
  src: url('/newYear/fonts/Cassandra.woff2');
}

@font-face {
  font-family: "RubikMonoOne-Regular";
  src: url('/newYear/fonts/RubikMonoOne-Regular.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header_title{
    background: linear-gradient(to left, #4505f6, #401967);
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
}

.section_history{
    background: rgb(254, 233, 233);
    width: auto;
    height: max-content;
    padding-top: 20px;
}

.section_photos{
    background: rgb(254, 233, 233);
    width: auto;
    height: max-content;
    padding-top: 20px;
}

img{
    max-width: 90%;
    margin-top: 20px;
    border: 2px solid #4505f6;
    border-radius: 30px;
    box-shadow: 
    0 0 10px #4505f6,
    inset 0 0 10px #4505f6;
}

h1{
    font-family: "RubikMonoOne-Regular";
    font-size: 100px;
    color: white;
}

.intro{
    width: 80%;
    height: max-content;
}

p, span{
    background-image: linear-gradient(to bottom, #4505f6, #401967);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.line, .line2{
    width: auto;
    height: 5px;
}

.line{
    background: linear-gradient(to right, #4505f6, #401967);
    box-shadow: 
    0 0 7px #4505f6,
    inset 0 0 7px #4505f6;
}

.line2{
    background: linear-gradient(to right, #adadad, #dec6f6);
    box-shadow: 
    0 0 7px #222279,
    inset 0 0 7px #191936;
}

.textNewYear{
    font-family: "Pacifico", cursive;
    font-size: 40px;
    text-align: center;
}

.before{
    margin-top: 20px;
    width: max-content;
    padding: 10px;
    height: auto;
    border: 2px solid #4505f6;
    border-radius: 30px;
}

.text2{
    font-family: "RubikMonoOne-Regular";
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 3px;
    transition: opacity 0.3s;
}

.grid img:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
    text-align: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;

}








